<h1>Ta flamme s'est declarée!</h1>
<p>Coucou <%= @post_author.firstname %>!</p>
<p>

  <%
  it = ''
  suffix = ''
  if @post.gender == 'woman'
    it = 'elle'
    suffix = 'e'
  else
    it = 'lui'
    suffix = ''
  end
  %>

  Ton post sur <b>meet</b><i>ING</i> a eu du succès et <%= @post.firstname %> s'est identifié<%= suffix%>.
  Tu peux directement prendre contact avec <%= it %>.
</p>
<p style="text-align:center"><a href="<%= @url %>"><%= @url %></a></p>
<p>
KTHNXBAI!
</p>

<p>
  Your meetING team.
<br>
  <i>Connecting people that are already connected!</i>
</p>
