<p id="notice"><%= notice %></p>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col s12 m6 l4">
      <div class="card large">
      
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag(post.image.url(), :alt => "", class: 'activator') %>
          <span class="card-title truncate col s12 activator", style="background-color:rgba(0, 0, 0, 0.2);"><%= post.title %></span>
        </div>
        
        <div class="card-content"> 
          <span class="card-title activator grey-text text-darken-4"> <%= post.name %> <%= post.firstname %><i class="material-icons right">more_vert</i></span>
          <p class="activator"> <%= post.date %></p>
        </div>
        
        <div class="card-action center">
          <a href="<%= edit_post_path(post) %>" class="teal-text">Modifier</a>
          <%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'red-text text-accent-4' %>
        </div>
        
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 truncate"><%= post.title %><i class="material-icons right">close</i></span>
          <p><%= post.description %></p>
        </div>
        
      </div>
    </div>
  <% end %>
</div>