<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MeetING" %></title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    "materialize" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js" %>
    <%= javascript_include_tag "materialize" %>
    <%= javascript_include_tag "init" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <ul class="hide-on-med-and-down">
          <li><a href="/">Tous les posts</a></li>
          <li><a href="myPosts">Mes posts</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Tous les posts</a></li>
          <li><a href="#">Mes posts</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
      
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">Bienvenu sur MeetING</h1>
        <br><br>
      </div>
    </div>

    <div class="container">
      <div class="section">
        
        <div class="row">
          <%= yield %>
        </div>

      </div>
    </div>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Description</h5>
            <p class="grey-text text-lighten-4">Ici une courte description de MeetING</p>
          </div>

          <div class="right col l3 s12">
            <h5 class="white-text">Plan du site</h5>
            <ul>
              <li><a class="white-text" href="/">Tous les posts</a></li>
              <li><a class="white-text" href="myPosts">Mes posts</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          Made by Wirth Jéremy, Mut Horia and Assunçao Jeshon <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>

  </body>
</html>
