<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MeetING" %></title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    "materialize" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"    %>
    <%= javascript_include_tag "jquery_ujs" %>
    <%= javascript_include_tag "materialize" %>
    <%= javascript_include_tag "init" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="grey lighten-4">
    <div class="navbar-fixed">
      <nav class="teal" role="navigation">
        <div class="nav-wrapper container">

          <ul class="left hide-on-med-and-down">
            <li><a href="/">Tous les posts</a></li>
            <li><a href="<%= new_post_path %>">Nouveau post</a></li>
          </ul>

          <ul class="hide-on-med-and-down">
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Tous les posts</a></li>
            <li><a href="<%= new_post_path %>">Nouveau post</a></li>
            <%= render 'devise/menu/registrationMobile_items' %>
            <%= render 'devise/menu/loginMobile_items' %>
          </ul>

          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

          <%= form_tag(posts_search_path, method: "get", :class=>'right') do %>
            <div class="input-field">
              <%= search_field :q, :title %>
              <label for="q"><i class="material-icons">search</i></label>
            </div>
          <%end%>

        </div>
      </nav>
    </div>

    <div id="index-banner" class="banner-container">
      <div class="banner"><%= image_tag("bannerMeetING.png", :alt => "Bannière MeetING") %></div>
    </div>

    <div class="container">
      <div class="section">
        <!-- Script to start modal view-->
        <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal({
              dismissible: true, // Modal can be dismissed by clicking outside of the modal
              opacity: .5, // Opacity of modal background
              in_duration: 300, // Transition in duration
              out_duration: 200, // Transition out duration
              //ready: function() { alert('Ready'); }, // Callback for Modal open
              //complete: function() { alert('Closed'); } // Callback for Modal close
            }
          );
          });
        </script>

          <%= yield %>
      </div>
    </div>

    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Description</h5>
            <p class="grey-text text-lighten-4">
              Vous rêvez de déclarer votre flamme à votre collègue ? A votre patron(ne) ? A votre voisin(e) ?
              Mais vous êtes de nature timide ?<br/>
              MeetING est fait pour vous !<br/>
            </p>
          </div>

          <div class="right col l3 s12">
            <h5 class="white-text">Plan du site</h5>
            <ul>
              <li><a class="white-text" href="/">Tous les posts</a></li>
              <li><a class="white-text" href="<%= new_post_path %>">Nouveau</a></li>
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright page-footer grey darken-4">
        <div class="container">
          Made by Wirth Jéremy, Mut Horia and Assunçao Jeshon <a class="teal-text" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>

  </body>
</html>
